.checkoutContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.watchContainer {
  margin: 136px 740px;
}
.btn-container {
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.cart-img {
  height: 100px;
  border-radius: 20px;
}
.formContainer {
  width: 60rem;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 30px;
  margin-bottom: 133px;
}
.table-ctn {
  display: flex;
  justify-content: center;
}

.confirmPurchase {
  margin-top: 30px;
  display: flex;
  justify-content: right;
}
.container-btnIndex {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.btn-index {
  width: 200px;
  height: 50px;
  background-color: #7c0e26c9;
  border-radius: 20px;
}
.btn-index a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
