.count-container {
  background-color: black;
  width: 250px;
  margin: 20px;
}
.count {
  background-color: white;
  border-style: solid;
  border-color: black;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.btn-less {
  color: rgb(160, 40, 40);
  background-color: white;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
}
.btn-add {
  color: rgb(31, 146, 62);
  background-color: white;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
}
.btn-addToCart {
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
